<div class="warning-page-section">
        <p class="text-center">Vous ne semblez pas connecté.</p> 
        <p class="text-center">Veuillez vous connecter pour avoir accès à l'espace adminitratif de SymfonyBlog.</p>
        <a href="{{ path('app_login') }}"><button class="btn btn-purple">Connexion</button></a>
</div>