body{
	background: #F4F4F4FF;
	background-attachment: fixed;
	background-position: 50% 50%;
}

header{
	height: 300px;
}

header.header{
	background: #f4f4f4;
	color: #170F23EF;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header.crud{
	height: 200px;
	background-color: #170F23EF;
	padding: 20px 40px;
}

nav.nav-connected{
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #170F23;
}

nav a{
	text-decoration: none;
	color: #D1BDD1 !important;
}

nav a:hover{
	color: #CAC8F4 !important;
}

h1{
	font-family: Roboto;
	font-size: 3em;
}

/*login page*/
.me-connecter{
	margin-top: 30px;
}

h1.connexion{
	font-size: 2em;
}

span.title-website{
	font-family: GreatVibes;
	font-size: 1.3em;
}

label{
	margin: 8px 0;
}

@media(min-width: 600px){
	.connexion-area{
		width: 60%;
		margin: auto;
		max-width: 600px;
	}
}

@media(max-width: 600px){
	h1.connexion{
		font-size: 2em;
	}
}

/*admin page and articles pages*/
table{
	margin: 30px 10px;
}

table.table{
	width: 95%;
}

th.show{
	min-width: 200px;
}

.delete-form{
	display: inline;
}

button.see-edit{
	width: 75px;
}

button.btn-create{
	margin-left: 20px;
}

.flex-space-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.label-show{
	font-family: inherit;
	font-size: 1.1em;
}

div.warning-page-section{
	background-color: #f4f4f4;
	height: 100vh;
	display: flex;
	margin: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	color: black;
}

div.warning-page-section button.btn-lire{
	font-weight: normal;
}

label{
	font-size: 1.6em;
	font-weight: bold;
}


@media(max-width: 540px){
	.d-none-table{
		display: none;
	}

	.flex-space-between{
		flex-direction: column;
	}
}