@font-face{
	font-family: GreatVibes;
	src: url(../fonts/GreatVibes-Regular.otf);
}

@font-face{
	font-family: Berkshire;
	src: url(../fonts/berkshireswash-regular.ttf);
}

@font-face{
	font-family: Calistoga;
	src: url(../fonts/Calistoga-Regular.ttf);
}

@font-face{
	font-family: Raleway;
	src: url(../fonts/Raleway-Medium.ttf);
}

@font-face{
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
	font-family: Poppins;
	src: url(../fonts/Poppins-Regular.otf);
}

body{
	box-sizing: border-box;
	margin: 0;
	color: #170F23;
	background-image: url(../img/fond/fond6.jpg);
	background-size: cover;
	background-position: 50% 50%;
	font-family: Roboto;
	letter-spacing: .4px;
}

header{
	background: #170F23EF;
	color: #fff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
}

header.page-article{
	height: 300px;
}
nav{
	position: absolute;
	display: flex;
	justify-content: space-between;
	background-color: #170F23FF;
	width: 100%;
	padding: 10px;
}

nav a{
	text-decoration: none;
	color: #D1BDD1 !important;
}

nav a:hover{
	color: #FEA9B5 !important;
}

.fond{
	background: #F4F4F4FF;
}

.text-grey{
	color: #CAC8F4;
}

h1{
	font-family: GreatVibes;
	margin: 0;
	font-size: 6em;
	text-align: center;
}

h2{
	font-family: GreatVibes;
	font-size: 4em;
	color: #170F23;
}

h3{
	font-size: 2em;
}

.btn-connect{
	position: absolute;
	right: 20px;
	top: 20px;
}

.btn{
	letter-spacing: 1px;
	margin: 5px;
}

.btn-blue{
	color: white;
	background-color: #494BA2;
}

.btn-blue:hover{
	color: white;
	background-color: #34368A;
}

.btn-coral{
	background: #1D7FB4;
	color: white;
}

.btn-coral:hover{
	background: #1072A7;
	color: white;
}

.Y-deco{
	color: #F87D8E;
}

.card{
	transition: .2s;
}

.card:hover{
	background: #FBF9F8;
}

.card-title{
	color: #170F23;
	font-family: Berkshire;
}

.date{
	color: grey;
	font-size: .9em;
}

.bi-calendar3{
	color: #F87D8E;
	margin-right: 5px;
}

.card-text{
	padding: 5px 20px;
}

.btn-purple{
	letter-spacing: .8px;
	background: #170F23DF;
	color: white;
	padding: 8px 15px;
	font-size: 1em;
}

.btn-purple:hover{
	background: #402C55;
	color: white;
}

.btn-purple:visited{
	letter-spacing: .8px;
	background: #4E4958;
	color: white;
	padding: 8px 15px;
	font-size: 1em;
}

.grid-item{ 
	width: 90%;
	margin: 5px;
}

@media (min-width: 1000px){

	.grid-item:nth-child(n+1) { 
		width: 30%;
	}

	.grid-item:nth-child(n+2) { 
		width: 60.8%;
	}

	.grid-item:nth-child(n+3) { 
		width: 30%;
	}
}

@media (min-width: 576px){
	.grid-item{
		width: 45%;
	}
}

.my-row{
	padding: 30px 0;
}

.article{
	background: white;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 0 50px;
	padding: 20px 80px;
}

@media(max-width: 650px){
	.article{
		margin: 0 15px;
		padding: 5px 15px;
	}

	h1{
		font-size: 3em;
	}

	h2{
		font-size: 2.5em;
	}
}

button.home{
	font-family: Poppins;
	border: none;
	font-size: 1.1em;
	background: none;
	position: absolute;
	top: 80px;
	left: 30px;
}

button.home a{
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	transition: .2s;
	letter-spacing: 1px;
	background: #402C55AE;
}

button.home a:hover{
	color: #fff;
	text-decoration: none;
	background: #402C5577;
}

.bi-house-door{
	margin-right: 20px;
	color: #fff;
}